DATABASE_HOST=localhost
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=borrow

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=borrow

PGADMIN_DEFAULT_EMAIL=postgres@example.com
PGADMIN_DEFAULT_PASSWORD=postgres